@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    background-color:#A3BCB6;
    margin : 0px;
    padding : 0px
}
.centralize{
    display: flex;
    align-items: center;
    justify-content: center;

}
canvas {
    border: 2px solid  #3C403D;
    border-radius: 35px;
    margin:0px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 400px;
}
main{
    /* border-top-left-radius: 35px;
    border-top-right-radius: 35px; */
    border-radius: 35px;
}
element.style {
    width: 400px;
    height: 500px;
}
canvas #defaultCanvas0{
    height: 400px;
}

content{
    font-family: 'Potta One', cursive;
    background-color: azure;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    border-radius: 35px;

}
.logo img{
    width:90px;
    background-color: azure;

}

body {
    margin-top: 0ch;
    padding:0px;
    /* margin:0px; */
  background-color: #3C403D;
  color: rgb(255, 49, 83);
  font-family: 'Potta One', cursive;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
}


.board {
  border: 1rem solid #ff652f;
  background: #ff652f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}



.squares {
  background: #272727;
  border: none;
  font-size: 5rem;
  /* font-weight: 800; */
  cursor: pointer;
  outline: none;
}

#ps{
  font-size: 1rem;
  text-align: center;
  color: red;
  border-radius: 35px;
}
main p div{
    border-radius: 35px;
}

.result {
    height: auto;
    width: auto;
  text-align: center;
  color: green;
  border-radius: 35px;
}

#refresh {
  font-size: 1rem;
  text-align: center;
}

.info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
